<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Writer</th>
    </tr>
    <tr>
        <td><%= @notice.id %></td>
        <td><%= @notice.title %></td>
        <td><%= @notice.writer %></td>
    </tr>
</table>
<p><%= link_to('원문보기', @notice.link) %></p>
<div><%= @notice.content.html_safe %></div>
<hr>
<% @images.each do |image| %>
    <%= image_tag image.link %>
<% end %>
<hr>
<% @attacheds.each do |attached|%>
    <p><%= link_to(attached.name, attached.link) %></p>
<% end %>